# Logs
logs
*.log

# Build files
build/
dist/

# Dependency directories
node_modules/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Environment secrets
*.env

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db

# Node modules
frontend/node_modules/
backend/node_modules/

# Images (for dev purposes)
backend/assets/
frontend/src/assets/

# Databse (for dev purposes)
postgis-db/

backend/utils/test.js