.main-header {
    width: 100%;
    height: var(--nav-height);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;    
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 10%;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
  }
  
  .main-header__logo_container {
    height: 3.0rem;
  }

  .main-header__logo_container img{
    height: 3.0rem;
  }

  .navigation-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Center the menu */
  }
  
  .navigation-menu li {
    position: relative;
    padding: 0 1rem; /* Spacing between menu items */
    font-weight: bold;
  }

  .navigation-menu li .submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%; /* Position right below the parent menu item */
    background-color: white;
    /* border: 1px solid #ccc; */
    min-width: 160px; /* Set a min-width for submenu */
    z-index: 1000; /* Ensure submenu is on top */
    border-radius: 8px;
    font-weight: normal;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  }
  
  .navigation-menu li:hover .submenu {
    display: block; /* Display submenu on hover */
  }

  .submenu a {
    padding: 10px 15px;
    display: block; /* Make each submenu item block level for full width interaction */
    color: #333; /* Text color for submenu items */
    text-decoration: none;
    white-space: nowrap; /* Prevents wrapping of submenu text */
    font-size: 0.9em;
  }
  
  .submenu a:first-child {
    margin-top: 30px; /* Adds space above the first submenu item */
  }

  .submenu a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .submenu a:hover {
    background-color: #f2f2f2; /* Background color for submenu items on hover */
  }
  
  .navigation-menu a {
    text-decoration: none;
    color: #333; /* Change as needed */
  }
  
  .login-placeholder {
    height: 40px;
    width: 40px;
    background-color: #ddd; /* Placeholder color */
    border-radius: 50%; /* Circle shape */
    cursor: pointer;
  }