.card-details-wrapper {
    width: 800px; /* Same as the card width */
    margin: 0 auto; /* Centers the container horizontally */
}

.card-details {
    background: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border: 2px solid #ddd;
    border-radius: 1rem;
    width: 100%; /* Makes card width relative to the container */
    height: var(--event-card-height);
    margin: 2rem 0 0 0; /* Only bottom margin to space between cards */
    padding: 0.4rem;
    display: grid;
    grid-template-columns: var(--event-card-image-column-width) 0.8fr auto;
    grid-template-areas: 
        "image date distance"
        "image title title"
        "image tags event_id"
        "image stat1 stat2";
    gap: 0.5rem;
  }

.card-image {
    grid-area: image;
    /* background: rgba(255, 154, 72, 0.5); */
    border: 2px solid #ddd;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; */
  }

  .card-image img {
    width: auto;
    height: 100%;
    object-fit: cover; /* Use 'cover' to fill the entire area */
}

.card-title {
    grid-area: title;
    font-size: 1.3rem;
    font-weight: bold;
  }

.card-date {
    grid-area: date;
    font-size: 1rem;
    font-weight: bold;
  }  

.card-distance {
    grid-area: distance;
    font-size: 1rem;
    font-weight: bold;
}    

.card-tags {
    grid-area: tags;
    font-size: 0.8rem;
    /* font-weight: bold; */
}

.card-tags__event-type {
    background-color: rgb(167, 74, 74, 0.5);
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
    margin-right: 0.5rem;
}

.card-tags__duration {
    background-color: rgb(159, 57, 173, 0.5);
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
    margin-right: 0.5rem;
    white-space: nowrap;
} 

.card-tags__event-id {
    background-color: rgba(199, 192, 192, 0.5);
    padding: 0.2rem 0.9rem;
    border-radius: 0.8rem;
    margin-right: 0.5rem;
}

.card-stat1 {
    grid-area: stat1;
    justify-self: start;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.9rem;
    /* font-weight: bold; */
}  

.card-stat2 {
    grid-area: stat2;
    justify-self: start;
    margin: 0;
    padding: 0;    
    list-style: none;
    font-size: 0.9rem;
    /* font-weight: bold; */
}  
