.event-detail-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding-top: 2rem;
}

.event-detail-data-wrapper {
  width: 50%;
  margin: 0 auto;
}

.event-detail-head-stat {
  display: grid;
  grid-template-columns: auto auto; /* Defines two columns */
  justify-content: space-between; /* Aligns columns to the edges */
}

.event-detail-head-stat__left {
  justify-self: start; /* Aligns these items to the left of their cell */
}

.event-detail-head-stat__right {
  font-size: 0.9rem;
  justify-self: end; /* Aligns this item to the right of its cell */
}  

.event-tags {
  font-size: 0.9rem;
  /* font-weight: bold; */
}

.event-tags__event-type {
  background-color: rgb(167, 74, 74, 0.5);
  padding: 0.2rem 0.5rem;
  border-radius: 0.8rem;
  margin-right: 0.5rem;
}

.event-tags__duration {
  background-color: rgb(159, 57, 173, 0.5);
  padding: 0.2rem 0.5rem;
  border-radius: 0.8rem;
  margin-right: 0.5rem;
  white-space: nowrap;
} 

.event-tags__event-id {
  background-color: rgba(199, 192, 192, 0.5);
  padding: 0.2rem 0.9rem;
  border-radius: 0.8rem;
  margin-right: 0.5rem;
}

.event-detail-section-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 1rem  
  }