.event-summary-table {
    border-collapse: separate; /* Use separate to allow border spacing and radius */
    border-spacing: 0; /* Optional: removes space between cells */  
    border-radius: 10px;
    border: 1px solid rgb(182, 175, 175);  
    width: 50%;
    margin: 0 auto;
    /* padding-bottom: 1rem */
  }
  
  .event-summary-table td, .event-summary-table th {
    /* border: 1px solid rgb(182, 175, 175); */
    padding: 8px;
  }
  
  /* Apply a border to the right of all but the last column */
  .event-summary-table th:not(:last-child),
  .event-summary-table td:not(:last-child) {
   border-right: 1px solid rgb(182, 175, 175); 
  }
  
  /* Apply a border to the bottom of all but the last row */
  .event-summary-table>thead>tr:not(:last-child)>th,
  .event-summary-table>thead>tr:not(:last-child)>td,
  .event-summary-table>tbody>tr:not(:last-child)>th,
  .event-summary-table>tbody>tr:not(:last-child)>td,
  .event-summary-table>tfoot>tr:not(:last-child)>th,
  .event-summary-table>tfoot>tr:not(:last-child)>td,
  .event-summary-table>tr:not(:last-child)>td,
  .event-summary-table>tr:not(:last-child)>th,
  .event-summary-table>thead:not(:last-child),
  .event-summary-table>tbody:not(:last-child),
  .event-summary-table>tfoot:not(:last-child) {
   border-bottom: 1px solid rgb(182, 175, 175);
  }
  
  .event-summary-table td:nth-child(1) { 
    width: 30%; 
  }
  .event-summary-table td:nth-child(2) { 
    width: 20%; 
  }
  
  .event-summary-footer {
    width: 50%;
    margin-bottom: 3rem
  }